<!-- INCLUDE page_header.html -->
<!-- IF S_NOTMM -->
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
<tr>
    <th width="60px" align="right" nowrap="nowrap">{L_FILTER}:</th>
    <!-- BEGIN filter_row -->
        <td>
        <a href="{filter_row.U_FILTER}"><img src="{EQDKP_ROOT_PATH}images/icons/class/{filter_row.I_CLASS}.gif" alt="{filter_row.CLASS}" title="{filter_row.CLASS}" height="20" width="20" border="0" /></a>
        </td>
    <!-- END filter_row -->
    <td width="100%">
<form method="post" action="{F_MEMBERS}">
<input type="hidden" name="{URI_SESSION}" value="{V_SID}" />
<input type="hidden" name="filter" value="{FILTER}" />
<input type="hidden" name="show" value="{SHOW}" />
</form>
    </td>
  </tr>
</table>
<!-- ENDIF -->
<form method="post" action="{F_MEMBERS}" name="post">
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
  <tr>
    <th class="tcat" colspan="6">&nbsp;</th>
<!-- BEGIN raidgroups_row -->
    <th class="tcat" colspan="2">&nbsp;<acronym title="{raidgroups_row.DESCRIPTION}">{raidgroups_row.NAME}</acronym>&nbsp;</th>
<!-- END raidgroups_row -->
    <th class="tcat" colspan="2">&nbsp;<acronym title="Summary of raid attendance">Total</acronym>&nbsp;</th>
    <th class="tcat" colspan="4">&nbsp;<acronym title="Assorted items guildies have collected">Goodies</acronym></th>
  </tr>
  <tr>
    <th class="thead" align="center" width="20" nowrap="nowrap">&nbsp;</th>
    <th align="left" width="25" nowrap="nowrap">&nbsp;</th>
    <th align="left" width="25" nowrap="nowrap">&nbsp;</th>
    <th class="thead" align="left" width="100%"><a href="{U_LIST_MEMBERS}o={O_NAME}{URI_ADDON}">{L_NAME}</a></th>
    <th class="thead" align="center" width="60" nowrap="nowrap"><a href="{U_LIST_MEMBERS}o={O_CLASS}{URI_ADDON}">{L_CLASS}</a></th>
    <th class="thead" align="center" width="35" nowrap="nowrap"><a href="{U_LIST_MEMBERS}o={O_LEVEL}{URI_ADDON}">{L_LEVEL}</a></th>

<!-- BEGIN raidgroups_row -->
    <th class="thead" align="right" width="60" nowrap="nowrap"><a href="{U_LIST_MEMBERS}o={raidgroups_row.O_PCURR}{URI_ADDON}">RAP</a></th>
    <th class="thead" align="left" width="60" nowrap="nowrap"><a href="{U_LIST_MEMBERS}o={raidgroups_row.O_AATT}{URI_ADDON}">Att %</a></th>
<!-- END raidgroups_row -->

    <th class="thead" align="right" width="60" nowrap="nowrap"><a href="{U_LIST_MEMBERS}o={O_PTOTAL}{URI_ADDON}">RAP</a></th>
    <th class="thead" align="left" width="60" nowrap="nowrap"><a href="{U_LIST_MEMBERS}o={O_ATOTAL}{URI_ADDON}">Att %</a></th>

    <th class="thead" align="center" nowrap="nowrap"><a href="{U_LIST_MEMBERS}o={O_IMASTERSKEY}{URI_ADDON}">{H_MASTERSKEY}</a></th>
  </tr>
  <!-- BEGIN members_row -->
  <tr class="{members_row.ROW_CLASS}">
<!-- IF S_COMPARE -->
    <td width="13" nowrap="nowrap" align="center"></td>
<!-- ELSE -->
    <td width="13" nowrap="nowrap" align="center"><input type="checkbox" name="compare_ids[]" value="{members_row.ID}" /></td>
<!-- ENDIF -->
    <td width="25" nowrap="nowrap" align="right">{members_row.COUNT}</td>
    <td width="25" nowrap="nowrap" align="right">
    	&nbsp;
    </td>
    <td nowrap="nowrap" width="100%"><a href="{members_row.U_VIEW_MEMBER}">{members_row.NAME}</a></td>
    <td width="60" nowrap="nowrap">
      <img src="{EQDKP_ROOT_PATH}images/icons/race/{members_row.I_RACE}.gif" alt="{members_row.RACE}" title="{members_row.RACE}" height="20" width="20" border="0" />&nbsp;&nbsp;
      <img src="{EQDKP_ROOT_PATH}images/icons/class/{members_row.I_CLASS}.gif" alt="{members_row.CLASS}" title="{members_row.CLASS}" height="20" width="20" border="0" />
    </td>
    <td width="35">
      <div align="center">{members_row.LEVEL}</div>
    </td>

<!-- BEGIN raidgroups -->
    <td width="60" nowrap="nowrap" class="{members_row.raidgroups.C_CURRENT}">
      <div align="right" style="padding:0px 0px 0px 10px">{members_row.raidgroups.CURRENT}</div>
    </td>
    <td width="60" nowrap="nowrap" class="{members_row.raidgroups.C_ATTEND}">
      <div align="left" style="padding:0px 10px 0px 0px">{members_row.raidgroups.ATTEND}&#37;</div>
    </td>
<!-- END raidgroups -->

    <!-- Totals -->
    <td nowrap="nowrap" class="{members_row.C_PTOTAL}">
      <div align="right" style="padding:0px 0px 0px 10px">{members_row.PTOTAL}</div>
    </td>
    <td nowrap="nowrap" class="{members_row.C_ATOTAL}">
      <div align="left">{members_row.ATOTAL}&#37;</div>
    </td>

    <td nowrap="nowrap">
      <div align="center"><a href="{U_LIST_MEMBERS}o={O_IMASTERSKEY}{URI_ADDON}">{members_row.IMASTERSKEY}</a></div>
    </td>
  </tr>
  <!-- END members_row -->
  <tr>
    <th colspan="{FOOTER_COLSPAN}" class="footer">{LISTMEMBERS_FOOTCOUNT}</th>
  </tr>
</table>
</td></tr></table>
<br />
<!-- IF S_COMPARE -->
<!-- ELSE -->
<center><input type="submit" name="{BUTTON_NAME}" value="{BUTTON_VALUE}" class="liteoption" /></center>
</form>
<!-- ENDIF -->
<!-- INCLUDE page_tail.html -->
